<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.instantaneousbeiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.instantaneousbeiapp.Guide.GuideTransitionOne"/><!--引导页过渡页1-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Guide.GuideTransitionTwo"/><!--引导页过渡页2-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Statement.Statement"/><!--报表页-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Statement.StatementChoiceTimeActivity"/><!--报表选择时间-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Wallet.WalletAccountType"/><!--钱包选择账户类型-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Wallet.WalletSelectColour"/><!--钱包选择颜色类型-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Wallet.WalletDepositCardActivity"/>><!--钱包储蓄卡页面*复用*-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Wallet.WalletRemindActivity"/>><!--钱包记账提醒-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Wallet.WalletChangeActivity"/>><!--钱包更改账户-->

        <!--<activity android:name=".guide.Shunbei"/>-->
        <activity android:name=".Shunbei"/>




        <activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.BijiShouruActivity"/>
        <activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.TianjiaoshouruActivity"/>
        <activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.ZhiChuActivity"/>
        <!--<activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.XuanzheShijianActivity"/>-->

        <!--<activity android:name="com.example.administrator.instantaneousbeiapp.login.ShunbeiLogin"/>-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.XugaiChenggongActivity"/><!--修改成功-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.XuigaiMimaActivity"/><!--修改密码（有短信验证）-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.ZhuceActivity"/><!--注册（有短信验证）-->

        <activity android:name="com.example.administrator.instantaneousbeiapp.voice.DuanWangActivity"/><!--断网页面-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.voice.VoiceActivity"/><!--语音页面-->

        <activity android:name="com.example.administrator.instantaneousbeiapp.Menu.UseAccount"/><!--用户资料-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Menu.MenuSet"/><!--菜单设置-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Menu.GesturesPassWord"/><!--菜单手势密码-->

        <activity android:name="com.example.administrator.instantaneousbeiapp.login.SuggestionActivity"/><!--意见反馈-->

        <activity android:name="com.example.administrator.instantaneousbeiapp.Detail.Calendar"/><!--明细日历-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Detail.Particulars"/><!--没用的-->

        <activity android:name="com.example.administrator.instantaneousbeiapp.Homepage.HomeMainActivity"/><!--首页-->
        <activity android:name=".Homepage.HomePageAcivity"/>
        <activity android:name="com.example.administrator.instantaneousbeiapp.Register.Derive"/><!--数据导出-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Register.Deadline"/><!--选择时间-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Register.ChangeDeadline"/><!--选择时间2-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.Guide.ActivityShunBei"/>
        <!--自定义ViewGroup做的一个HorizontalScrollView  完成侧滑效果-->
        <activity android:name=".Detail.DemoCehuaActivity"/>

        <activity android:name=".Guide.GuideMainTransition"/><!--引导页开始-->
        <activity android:name=".Menu.RespectInsranraneoous"/><!--关于我们-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



    </application>

</manifest>