<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.instantaneousbeiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Guide.GuideTransitionOne"/>
        <activity android:name=".Guide.GuideTransitionTwo"/>
        <activity android:name=".Guide.shunbei"/>
        <activity android:name=".Statement.Statement"/>
        <activity android:name=".Statement.StatementChoiceTimeActivity"/>
        <activity android:name=".Wallet.WalletAccountType"/>
        <activity android:name=".Wallet.WalletSelectColour"/>
        <activity android:name=".WalletDepositCardActivity"/>
    </application>

</manifest>