<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.instantaneousbeiapp">
    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--注：如需在打包或者生成APK的时候进行混淆，请在proguard.cfg中添加如下代码
          -keep class com.iflytek.**{*;}  -->
    <!--短信验证码权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/shunbei_logn"
        android:label="@string/app_name1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">
        <activity android:name=".guide.GuideMainTransition"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.instantaneousbeiapp.guide.GuideTransitionOne"/><!--引导页过渡页1-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.guide.GuideTransitionTwo"/><!--引导页过渡页2-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.statement.Statement"/><!--报表页-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.statement.StatementChoiceTimeActivity"/><!--报表选择时间-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.wallet.WalletAccountType"/><!--钱包选择账户类型-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.wallet.WalletSelectColour"/><!--钱包选择颜色类型-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.wallet.WalletDepositCardActivity"/>><!--钱包储蓄卡页面*复用*-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.wallet.WalletChangeActivity"/>><!--钱包更改账户-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.BijiShouruActivity"/>
        <activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.TianjiaoshouruActivity"/>
        <activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.ZhiChuActivity"/>
        <activity android:name="com.example.administrator.instantaneousbeiapp.jizhang.XuanzheShijianActivity"/>
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.XugaiChenggongActivity"/><!--修改成功-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.XuigaiMimaActivity"/><!--修改密码（有短信验证）-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.ZhuceActivity"/><!--注册（有短信验证）-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.ShunbeiLogin"
            android:launchMode="singleTask"/><!--登录页面-->
        <activity android:name=".homepage.HomeMainActivity"
            android:launchMode="singleTask"/><!--首页-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.voice.DuanWangActivity"/><!--断网页面-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.voice.VoiceActivity"/><!--语音页面-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.menu.UseAccount"/><!--用户资料-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.menu.MenuSet"/><!--菜单设置-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.menu.GesturesPassWord"/><!--菜单手势密码-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.SuggestionActivity"/><!--意见反馈-->
        <!--明细日历-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.detail.Particulars"/><!--没用的-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.register.Derive"/><!--数据导出-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.register.Deadline"/><!--选择时间-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.register.ChangeDeadline"/><!--选择时间2-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.guide.ActivityShunBei"/>
        <!--自定义ViewGroup做的一个HorizontalScrollView  完成侧滑效果-->
        <activity android:name=".detail.DemoCehuaActivity"/>
        <!--<activity android:name=".Guide.GuideMainTransition"/>&lt;!&ndash;引导页开始&ndash;&gt;-->
        <activity android:name=".menu.RespectInsranraneoous"/><!--关于我们-->
        <activity android:name=".detail.MyCalendard"
            android:launchMode="singleTop"/><!--日历-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.RegisterActivity"/><!--签名-->
        <!--<activity android:name="com.example.administrator.instantaneousbeiapp.login.GesturesPasswordActivity"/>&lt;!&ndash;手势页面&ndash;&gt;-->
        <activity android:name="com.example.administrator.instantaneousbeiapp.login.PhoneBindingActivity"/><!--绑定手机页面-->
        <activity android:name=".menu.RenmidChargeAccountDelete"
            android:launchMode="singleTask"/><!--记账提醒（显示）页面-->
        <activity android:name=".menu.RenmidChargeAccoutSave"
            android:launchMode="singleTask"/><!--记账提醒（闹钟）页面-->
        <activity android:name=".menu.ActivityNickname"/><!--个人设置（昵称）页面-->
        <activity android:name=".menu.ActivityBrithDay"/><!--个人设置（生日）页面-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--qq登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105853108" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--微博登录导的Activity与Service-->
        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>
    </application>

</manifest>